#root{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 1200px; 
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

label {
    padding-top: 8px;
}

input {
    border: none;
    border-bottom: 1px solid #0b2c3e;
    padding: 6px;
    width: 100%;
}

.display-forms {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    overflow-y: auto;
    height: 100vh;
    scrollbar-width: thin;
}

.display-forms > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
} 

.display-forms > div:hover {
    animation: 0.5s shaking ease-in-out;
}

@keyframes shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(1deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}

.container-buttons {
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;    
}

.save, .cancel {
    background-color: hsla(212, 92%, 53%, 0.5);
    border: none;
    border-radius: 25px;
    padding: 8px;
    width: 80px;
}

.save:hover {
    background-color: hsla(212, 92%, 53%, 1);

}

.cancel {
    background-color: hsla(2, 92%, 53%, 0.5);
}

.cancel:hover {
    background-color: hsla(2, 92%, 53%, 1);
}

.container-btn-addInfo button {
    background-color: transparent;
    border: 3px solid #8080801a;
    border-radius: 25px;
    padding: 8px;
}

.container-btn-addInfo button:hover {
    transform: scale(1.1);
    background-color: #f1f1f1;
}

.card {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.edit, .delete {
    background-color: transparent;
    border: 3px solid #8080801a;
    border-radius: 25px;
    padding: 8px;
}

.edit {
    width: 60px;
}

.edit:hover, .delete:hover {
    transform: scale(1.1);
    background-color: #f1f1f1;
}

.display-lists {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10%;
    min-width: 0;
    word-wrap: break-word;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    background-color: #fff;
}

.personal-info, .education-info {
    padding: 10px 0;
    background-color: #fff;
    color: #000000;
    border-radius: 25px;
}

.personal-info ul {
    text-align: center;
}

.personal-info ul li:first-child{
    font-weight: bold;
    font-size: 48px;
}

.personal-info ul li,
.education-info ul li,
.work-info ul li {
    padding: 10px;
    font-size: 20px;
}

.education-info,
.work-info {
    background-color: transparent;
    color: #ffffff;
}

.education-info h2,
.work-info h2 {
    padding: 10px;
    background-color: #000000;
    border-radius: 25px;
}

.education-info ul,
.work-info ul {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.education-info ul div,
.work-info ul div {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}

.education-info ul li,
.work-info ul li {
    padding-top: 20px;
}

@media (max-width: 940px){
    #root {
        flex-direction: column;
    }

    .display-forms {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 50vh;
    }

    .display-forms > div {
        overflow-y: auto;
        scrollbar-width: thin;
        width: 100%;
    }
}