#root{
    display: flex;
    justify-content: space-between;
    width: 1600px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

label {
    padding-top: 8px;
}

input {
    border: none;
    border-bottom: 1px solid #0b2c3e;
    padding: 6px;
}

.display-forms {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.display-forms > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    padding: 12px;
    border-radius: 25px;
}

.container-buttons {
    padding-top: 12px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;    
}